<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>testpostCart</td><td>CustomExecutor_PO.testpostCart(org.testng.ITestContext)[pri:1, instance:com.apiTest.checkout.executor.CustomExecutor_PO@dc24521]<br/></td></tr>
</table>
