<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="79f379">  <td>18/11/13 16:23:49</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CustomExecutor_PO.beforeTest(org.testng.ITestContext)[pri:0, instance:com.apiTest.checkout.executor.CustomExecutor_PO@dc24521]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@846238611</td>   <td>230835489 </td> </tr>
<tr bgcolor="79f379">  <td>18/11/13 16:23:49</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomExecutor_PO.beforeClass(org.testng.ITestContext)[pri:0, instance:com.apiTest.checkout.executor.CustomExecutor_PO@dc24521]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@846238611</td>   <td>230835489 </td> </tr>
<tr bgcolor="79f379">  <td>18/11/13 16:23:49</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomExecutor_PO.beforeMethod(org.testng.ITestContext)[pri:0, instance:com.apiTest.checkout.executor.CustomExecutor_PO@dc24521]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@846238611</td>   <td>230835489 </td> </tr>
<tr bgcolor="79f379">  <td>18/11/13 16:23:53</td>   <td>3187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomExecutor_PO.testpostCart(org.testng.ITestContext)[pri:1, instance:com.apiTest.checkout.executor.CustomExecutor_PO@dc24521]">testpostCart</td> 
  <td>main@846238611</td>   <td>230835489 </td> </tr>
<tr bgcolor="79f379">  <td>18/11/13 16:24:03</td>   <td>13152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomExecutor_PO.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.apiTest.checkout.executor.CustomExecutor_PO@dc24521]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@846238611</td>   <td>230835489 </td> </tr>
</table>
